<div class="container mx-auto p-6">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <div
      *ngFor="let app of apps"
      (click)="navigateTo(app.route)"
      class="bg-white shadow-lg rounded-lg flex items-center justify-center flex-col p-6 cursor-pointer hover:bg-gray-100 transition-all duration-200"
    >
      <span class="text-4xl mb-4">{{ app.icon }}</span>
      <span class="text-lg font-semibold">{{ app.name }}</span>
    </div>
  </div>
</div>
