<div class="w-full h-full bg-gradient-to-br from-[#1e3a8a] to-[#2563eb] p-6">
  <form>
    <div class="flex justify-between mx-auto">
      <div class="h-3/6 w-3/4 mt-8">
        <div class="w-3/6">
          <div class="relative z-0 w-[1000px] mb-5 group">
            <input
              [(ngModel)]="name"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              class="block py-2.5 px-0 w-full text-3xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-300 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 peer"
              placeholder=""
              required
            />
            <label
              class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] left-0 peer-focus:left-0 peer-focus:border-yellow-500 peer-focus:focus:border-yellow-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              PRODUCT NAME
            </label>
          </div>
          <div class="relative z-0 w-[1000px] mb-5 group">
            <input
              [(ngModel)]="description"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              class="block py-2.5 px-0 w-full text-3xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-300 dark:focus:border-yellow-500 focus:outline-none focus:ring-0 peer"
              placeholder=""
              required
            />
            <label
              class="peer-focus:font-medium absolute text-lg text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] left-0 peer-focus:left-0 peer-focus:border-yellow-500 peer-focus:focus:border-yellow-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >
              DESCRIPTION
            </label>
          </div>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="w-20 h-8 rounded bg-blue-900 text-white hover:bg-slate-800"
      (click)="saveRecords()"
    >
      Add
    </button>
  </form>
</div>

<div
  class="w-full h-full bg-gradient-to-br from-[#1e3a8a] to-[#2563eb] p-5 text-white"
>
  <table class="table-auto w-full text-left text-white">
    <thead>
      <tr class="border-b">
        <th class="px-4 py-2">Product Name</th>
        <th class="px-4 py-2">Description</th>
        <th class="px-4 py-2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ProductItem of ProductArray" class="border-b">
        <td class="px-4 py-2">{{ ProductItem.name }}</td>
        <td class="px-4 py-2">{{ ProductItem.description }}</td>
        <td class="px-4 py-2 space-x-3">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            Edit
          </button>
          <button
            (click)="setDelete(ProductItem)"
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
